$border :border 1px solid red;
$orange : rgb(255, 94, 0);
$xam : rgb(125, 121, 121);
@import "contact";
@import "header";
@import "swu";
@import "op";
@import "form";
@import "apw";
@import "aboutus";
@import "leadership";
@import "summersale";
@import "our-service";
@import "people-say";
@import "blog";
@import "contact-form";

